*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#contenedorConsulta{
    position: relative;
    left: 10%;
    top: 10px;
}
#contenedorInsert{
    position: absolute;
    top: 10px;
    left: 25%;
}
#contenedorUpdate{
    position: absolute;
    top:10px;
    left: 50%;
}

#contenedorBorrar{
    position: absolute;
    top: 10px;
    left: 70%;
}
#titulo{
    text-align: center;
}
#traerResultado{
    text-align: center;
    font-size: 30px;
}